md-dialog
	md-toolbar
		.md-toolbar-tools
			h2 Новая запись
			span(flex)
			md-button.md-icon-button(
				ng-click="ctrl.cancelDialog()"
				aria-label="Закрыть"
			)
				md-icon(md-svg-icon="navigation:ic_close_24px")
