.developers
	.list(md-whiteframe="1")
		.header {{:: 'DEVELOPERS_LIST' | translate }}
		md-button.md-raised.md-primary(ng-click="ctrl.openAddDialog($event)")
			md-icon(md-svg-icon="content:ic_add_24px")
			span {{:: 'DEVELOPERS_ADD' | translate }}
		.body
			table
				tr
					th #
					th {{:: 'DEVELOPERS_NAME' | translate }}
					th {{:: 'DEVELOPERS_AMOUNT' | translate }}
					th
				tr(ng-repeat="dev in ctrl.developers track by dev.Id")
					td.id {{ dev.Id }}
					td.name {{ dev.Name }}
					td.amount {{ dev.CeilingAmount }}
					td.func
				tr
					th #
					th {{:: 'DEVELOPERS_NAME' | translate }}
					th {{:: 'DEVELOPERS_AMOUNT' | translate }}
					th
