@import './palette.less';

.contracts {
	.list {
		background-color: @white;
		border-radius: 3px;
		border-top: 3px solid @blue-grey-200;

		.header {
			color: @grey-900;
			font-size: 18px;
			padding: 10px;
		}

		.content {
			min-height: 200px;
		}
	}
}
