@import './palette.less';

.developers {
	.list {
		background-color: @white;
		border-radius: 3px;
		border-top: 3px solid @blue-grey-200;

		.header {
			color: @grey-900;
			font-size: 18px;
			padding: 10px;
		}

		.content {
			min-height: 200px;
		}

		.body {
			padding: 10px;

			th, td {
				border: 1px solid @grey-200;
				padding: 4px;
			}

			tr:not(.no-data):hover td {
				background-color: @grey-200;
				cursor: pointer;

				> div {
					visibility: visible;
				}
			}

			th.id {
				width: 100px;
			}

			th.amount {
				width: 200px;
			}

			th.func {
				width: 120px;
			}

			td.id, td.amount {
				text-align: center;
			}

			td.func > div {
				margin: 0 auto;
				visibility: hidden;
				width: 104px;
			}
		}
	}

	.edit {
		md-dialog {
			min-width: 450px;
		}
	}
}
