@import './palette.less';

.developers {
	.list {
		background-color: @white;
		border-radius: 3px;
		border-top: 3px solid @blue-grey-200;

		.header {
			color: @grey-900;
			font-size: 18px;
			padding: 10px;
		}

		.body {
			padding: 10px;

			th, td {
				border: 1px solid @grey-200;
				padding: 8px;
			}

			tr:hover td {
				background-color: @grey-200;
				cursor: pointer;
			}

			td.id {
				text-align: center;
				width: 100px;
			}

			td.amount {
				text-align: center;
				width: 300px;
			}

			td.func {
				width: 100px;
			}
		}
	}

	.edit {
		min-width: 450px;
	}
}
