@red-100: #FFCDD2;
@red-200: #EF9A9A;
@red-500: #F44336;
@red-A700: #D50000;

@blue-900: #0D47A1;

@green-100: #C8E6C9;
@green-200: #A5D6A7;
@green-500: #4CAF50;
@green-900: #1B5E20;

@grey-50: #FAFAFA;
@grey-200: #EEEEEE;
@grey-300: #E0E0E0;
@grey-400: #BDBDBD;
@grey-500: #9E9E9E;
@grey-600: #757575;
@grey-900: #212121;

@blue-grey-100: #CFD8DC;
@blue-grey-200: #B0BEC5;
@blue-grey-400: #78909C;
@blue-grey-500: #607D8B;
@blue-grey-900: #263238;

@black: #000000;
@white: #FFFFFF;

@overlay: rgba(255, 255, 255, 0.5);
