doctype html
html(ng-app="opvo" ng-strict-di)
	head
		meta(charset="utf-8")
		title OPVO demo
		script(src="/scr/vendor.js")
		script(src="/scr/application.js")
		link(rel="stylesheet" href="/css/application.css")
	body
		.content(ui-view)
